<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Eclipse Project</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="Eclipse Foundation, Inc." />
	<meta name="keywords" content="eclipse,project,plug-ins,plugins,java,ide,swt,refactoring,free java ide,tools,platform,open source,development environment,development,ide" />
	<link rel="stylesheet" type="text/css" href="../../../eclipse.org-common/stylesheets/visual.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../../../eclipse.org-common/stylesheets/layout.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../../../eclipse.org-common/stylesheets/print.css" media="print" />

</head>
<body>
<div id="header">
	<a href="http://www.eclipse.org/"><img src="../../../eclipse.org-common/stylesheets/header_logo.gif" width="163" height="68" border="0" alt="Eclipse Logo" class="logo" /></a>

	<ul id="headernav">
		<li class="first"><a href="http://www.eclipse.org/org/foundation/contact.php">Contact</a></li>
		<li><a href="http://www.eclipse.org/legal/">Legal</a></li>
	</ul>

</div>

<div id="leftcol">
<ul id="leftnav">
<li><a href="#EclipseE4">Eclipse e4 tests</a></li>
  <li style="background-image: url(../../../eclipse.org-common/stylesheets/leftnav_fade.jpg); background-repeat: repeat-x; border-style: none;">
			<br /><br /><br /><br /><br />
  </li>
</ul>

</div>

&nbsp; 

<table align="left" BORDER="0" CELLSPACING="5" CELLPADDING="2" WIDTH="100%">
<tr><td><div class="homeitem3col">
<h3><a name="EclipseE4"> Eclipse e4&nbsp;<img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]" /></a></h3>
<table BORDER="0" CELLSPACING="2" CELLPADDING="0" WIDTH="99%" bordercolor="#999999" > 
<tr> <td align="RIGHT" valign="TOP" width="50%"> <div align="left"><b>Status</b></div></td> 
</tr> 
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.ui.tests.css.swt_linux.gtk.ppc.html">org.eclipse.e4.ui.tests.css.swt</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.ui.tests.css.core_linux.gtk.ppc.html">org.eclipse.e4.ui.tests.css.core</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.xwt.tests_linux.gtk.ppc.html">org.eclipse.e4.xwt.tests</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.xwt.emf.test_linux.gtk.ppc.html">org.eclipse.e4.xwt.emf.test</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.core.tests.resources_linux.gtk.ppc.html">org.eclipse.core.tests.resources</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.core.tests.services_linux.gtk.ppc.html">org.eclipse.e4.core.tests.services</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.languages.javascript.test_linux.gtk.ppc.html">org.eclipse.e4.languages.javascript.test</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.ui.tests_linux.gtk.ppc.html">org.eclipse.e4.ui.tests</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.tm.builder.tests_linux.gtk.ppc.html">org.eclipse.e4.tm.builder.tests</a>&nbsp;&nbsp;</div></td>
</tr>
<tr><td><div align="left"><a href="results/html/org.eclipse.e4.emf.javascript.tests_linux.gtk.ppc.html">org.eclipse.emf.javascript.tests</a>&nbsp;&nbsp;</div></td>
</tr>

</table>
</div>
</td>
</tr>
</table>

<div id="footer">
	<ul id="footernav">

		<li class="first"><a href="http://www.eclipse.org">Home</a></li>
		<li><a href="http://www.eclipse.org/legal/privacy.php">Privacy Policy</a></li>
		<li><a href="http://www.eclipse.org/legal/termsofuse.php">Terms of Use</a></li>
	</ul>
	<p>Copyright &copy; 2006 The Eclipse Foundation. All Rights
Reserved</p>
</div>

</body>
</html>

